Проведите анализ файла 2017_jun_final.csv. Файл содержит результаты опроса разработчиков в июне 2017 года.

In [4]:
import pandas as pd
import numpy as np

Прочитайте файл 2017_jun_final.csv с помощью метода read_csv

In [3]:
df = pd.read_csv('2017_jun_final.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8704 entries, 0 to 8703
Data columns (total 25 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   N                                 8704 non-null   int64
 1   Должность                         8704 non-null   object
 2   Язык.программирования             4854 non-null   object
 3   Специализация                     1485 non-null   object
 4   Общий.опыт.работы                 8704 non-null   object
 5   Опыт.работы.на.текущем.месте      8704 non-null   object
 6   Зарплата.в.месяц                  8704 non-null   int64
 7   Изменение.зарплаты.за.12.месяцев  8704 non-null   int64
 8   Город                             8704 non-null   object
 9   Размер.компании                   8704 non-null   object
 10  Тип.компании                      8704 non-null   object
 11  Пол                               8704 non-null   object
 12  Возраст                           8704 non-null   int64
 13  Образование                       8704 non-null   object
 14  Университет                       8346 non-null   object
 15  Еще.студент                       8704 non-null   bool
 16  Уровень.английского               8704 non-null   object
 17  Предметная.область                8481 non-null   object
 18  Дата.заполнения                   8704 non-null   object
 19  User.Agent                        8704 non-null   object
 20  exp                               8704 non-null   float64
 21  current_job_exp                   8704 non-null   float64
 22  salary                            8704 non-null   int64
 23  Валюта                            10 non-null     object
 24  cls                               7130 non-null   object
dtypes: bool(1), float64(2), int64(5), object(17)
memory usage: 1.6+ MB

Прочитайте полученную таблицу используя метод head

In [5]:
pd.set_option('display.max_columns', None)
df.head(10)

,N,Должность,Язык.программирования,Специализация,Общий.опыт.работы,Опыт.работы.на.текущем.месте,Зарплата.в.месяц,Изменение.зарплаты.за.12.месяцев,Город,Размер.компании,Тип.компании,Пол,Возраст,Образование,Университет,Еще.студент,Уровень.английского,Предметная.область,Дата.заполнения,User.Agent,exp,current_job_exp,salary,Валюта,cls
0,1,Junior QA engineer,NaN,Manual QA,0.5,0.5,400,0,Харьков,до 10 человек,Аутсорсинговая,женский,20,Незаконченное высшее,ХНЭУ,True,ниже среднего,"iOS,eCommerce",12/06/2017 12:38:08,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,0.5,0.5,400,NaN,QA
1,2,Junior QA engineer,NaN,Manual QA,меньше 3 месяцев,меньше 3 месяцев,430,130,Харьков,свыше 1000 человек,Аутсорсинговая,женский,21,Незаконченное высшее,ХНЭУ,True,выше среднего,Веб-разработка,12/06/2017 12:42:51,Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...,0.0,0.0,430,NaN,QA
2,3,Software Engineer,C#/.NET,NaN,4,1,2500,800,Киев,до 1000 человек,Аутсорсинговая,мужской,26,Высшее,ДонНТУ,False,средний,"Веб-разработка,Корпоративные системы",12/06/2017 13:02:47,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,4.0,1.0,2500,NaN,DEV
3,4,Software Engineer,JavaScript,NaN,5,4,2000,400,Одесса,до 200 человек,Продуктовая,мужской,30,Среднее,NaN,False,ниже среднего,"Desktop Applications,Веб-разработка",12/06/2017 13:03:01,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,5.0,4.0,2000,NaN,DEV
4,5,Senior Software Engineer,JavaScript,NaN,10 и более лет,0.5,4500,500,Другой,до 10 человек,Продуктовая,мужской,30,Техникум / Колледж,NaN,False,средний,"Desktop Applications,Веб-разработка",12/06/2017 13:03:47,Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...,10.0,0.5,4500,NaN,DEV
5,6,Project manager,NaN,NaN,1,1,400,0,Киев,до 10 человек,Стартап,мужской,21,Незаконченное высшее,НАУ,True,средний,Веб-разработка,12/06/2017 13:04:04,Mozilla/5.0 (Windows NT 6.1; WOW64; rv:53.0) G...,1.0,1.0,400,NaN,PM
6,7,Junior Software Engineer,C#/.NET,NaN,1,меньше 3 месяцев,600,100,Хмельницкий,до 50 человек,Аутсорсинговая,мужской,23,Высшее,ХНУ [г. Хмельницкий],False,ниже среднего,Веб-разработка,12/06/2017 13:04:26,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,1.0,0.0,600,NaN,DEV
7,8,Senior Software Engineer,C++,NaN,6,1,3300,500,Киев,до 10 человек,Продуктовая,мужской,28,Высшее,НТУУ «КПИ»,False,выше среднего,Другое,12/06/2017 13:04:27,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:53....,6.0,1.0,3300,NaN,DEV
8,9,Junior Software Engineer,Java,NaN,0.5,0.5,550,550,Харьков,свыше 1000 человек,Аутсорсинговая,женский,23,Высшее,ХНУ им. Каразина,False,средний,Веб-разработка,12/06/2017 13:04:28,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:53....,0.5,0.5,550,NaN,DEV
9,10,Sysadmin,NaN,NaN,5,2,520,20,Киев,до 10 человек,Продуктовая,мужской,29,Высшее,НГУ [Днепропетровск],False,средний,Системное программирование,12/06/2017 13:05:17,Mozilla/5.0 (Macintosh; Intel Mac OS X 10.12; ...,5.0,2.0,520,NaN,NaN

Определите размер таблицы с помощью метода shape

In [6]:
df.shape

(8704, 25)

Определите типы всех столбцов с помощью dataframe.dtypes

In [8]:
df.dtypes

N                                     int64
Должность                            object
Язык.программирования                object
Специализация                        object
Общий.опыт.работы                    object
Опыт.работы.на.текущем.месте         object
Зарплата.в.месяц                      int64
Изменение.зарплаты.за.12.месяцев      int64
Город                                object
Размер.компании                      object
Тип.компании                         object
Пол                                  object
Возраст                               int64
Образование                          object
Университет                          object
Еще.студент                            bool
Уровень.английского                  object
Предметная.область                   object
Дата.заполнения                      object
User.Agent                           object
exp                                 float64
current_job_exp                     float64
salary                                int64
Валюта                               object
cls                                  object
dtype: object

Посчитайте, какая доля пропусков содержится в каждой колонке (используйте методы isnull и sum)

In [9]:
df.isna().sum()

N                                      0
Должность                              0
Язык.программирования               3850
Специализация                       7219
Общий.опыт.работы                      0
Опыт.работы.на.текущем.месте           0
Зарплата.в.месяц                       0
Изменение.зарплаты.за.12.месяцев       0
Город                                  0
Размер.компании                        0
Тип.компании                           0
Пол                                    0
Возраст                                0
Образование                            0
Университет                          358
Еще.студент                            0
Уровень.английского                    0
Предметная.область                   223
Дата.заполнения                        0
User.Agent                             0
exp                                    0
current_job_exp                        0
salary                                 0
Валюта                              8694
cls                                 1574
dtype: int64

Удалите все столбцы с пропусками, кроме столбца "Язык.программирования"

In [10]:
colomn_list = df.dropna(axis='columns').columns.to_list()
colomn_list.append('Язык.программирования')
df = df[(colomn_list)].copy()
df

,N,Должность,Общий.опыт.работы,Опыт.работы.на.текущем.месте,Зарплата.в.месяц,Изменение.зарплаты.за.12.месяцев,Город,Размер.компании,Тип.компании,Пол,Возраст,Образование,Еще.студент,Уровень.английского,Дата.заполнения,User.Agent,exp,current_job_exp,salary,Язык.программирования
0,1,Junior QA engineer,0.5,0.5,400,0,Харьков,до 10 человек,Аутсорсинговая,женский,20,Незаконченное высшее,True,ниже среднего,12/06/2017 12:38:08,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,0.5,0.5,400,NaN
1,2,Junior QA engineer,меньше 3 месяцев,меньше 3 месяцев,430,130,Харьков,свыше 1000 человек,Аутсорсинговая,женский,21,Незаконченное высшее,True,выше среднего,12/06/2017 12:42:51,Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...,0.0,0.0,430,NaN
2,3,Software Engineer,4,1,2500,800,Киев,до 1000 человек,Аутсорсинговая,мужской,26,Высшее,False,средний,12/06/2017 13:02:47,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,4.0,1.0,2500,C#/.NET
3,4,Software Engineer,5,4,2000,400,Одесса,до 200 человек,Продуктовая,мужской,30,Среднее,False,ниже среднего,12/06/2017 13:03:01,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,5.0,4.0,2000,JavaScript
4,5,Senior Software Engineer,10 и более лет,0.5,4500,500,Другой,до 10 человек,Продуктовая,мужской,30,Техникум / Колледж,False,средний,12/06/2017 13:03:47,Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...,10.0,0.5,4500,JavaScript
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8699,8700,QA engineer,1,меньше 3 месяцев,700,700,Одесса,до 50 человек,Аутсорсинговая,мужской,23,Высшее,False,средний,12/07/2017 15:45:24,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....,1.0,0.0,700,NaN
8700,8701,Marketing,0.5,0.5,400,120,Киев,до 50 человек,Продуктовая,женский,22,Высшее,False,ниже среднего,12/07/2017 17:00:06,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,0.5,0.5,400,NaN
8701,8702,Junior Software Engineer,1,0.5,800,500,Львов,до 10 человек,Аутстаффинговая,мужской,30,Незаконченное высшее,False,выше среднего,12/07/2017 17:32:26,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,1.0,0.5,800,Ruby/Rails
8702,8703,Team lead,6,4,2600,0,Днепр,свыше 1000 человек,Аутсорсинговая,мужской,34,Высшее,False,продвинутый,12/07/2017 18:14:59,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...,6.0,4.0,2600,NaN
8703,8704,Senior Software Engineer,7,2,5000,800,Одесса,до 1000 человек,Продуктовая,мужской,28,Высшее,False,выше среднего,12/07/2017 21:28:57,Mozilla/5.0 (iPad; CPU OS 10_3_2 like Mac OS X...,7.0,2.0,5000,Java

Опять посчитайте, какая доля пропусков содержится в каждой колонке и убедитесь, что остался только столбец "Язык.программирования"

In [11]:
df.isna().sum()

N                                      0
Должность                              0
Общий.опыт.работы                      0
Опыт.работы.на.текущем.месте           0
Зарплата.в.месяц                       0
Изменение.зарплаты.за.12.месяцев       0
Город                                  0
Размер.компании                        0
Тип.компании                           0
Пол                                    0
Возраст                                0
Образование                            0
Еще.студент                            0
Уровень.английского                    0
Дата.заполнения                        0
User.Agent                             0
exp                                    0
current_job_exp                        0
salary                                 0
Язык.программирования               3850
dtype: int64

Определите новый размер таблицы с помощью метода shape

In [12]:
df.shape

(8704, 20)

Создайте новую таблицу python_data в которой будут только строки со специалистами указавшими язык программирования Python

In [14]:
new_table = df.dropna()
new_table

,N,Должность,Общий.опыт.работы,Опыт.работы.на.текущем.месте,Зарплата.в.месяц,Изменение.зарплаты.за.12.месяцев,Город,Размер.компании,Тип.компании,Пол,Возраст,Образование,Еще.студент,Уровень.английского,Дата.заполнения,User.Agent,exp,current_job_exp,salary,Язык.программирования
2,3,Software Engineer,4,1,2500,800,Киев,до 1000 человек,Аутсорсинговая,мужской,26,Высшее,False,средний,12/06/2017 13:02:47,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,4.0,1.0,2500,C#/.NET
3,4,Software Engineer,5,4,2000,400,Одесса,до 200 человек,Продуктовая,мужской,30,Среднее,False,ниже среднего,12/06/2017 13:03:01,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,5.0,4.0,2000,JavaScript
4,5,Senior Software Engineer,10 и более лет,0.5,4500,500,Другой,до 10 человек,Продуктовая,мужской,30,Техникум / Колледж,False,средний,12/06/2017 13:03:47,Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...,10.0,0.5,4500,JavaScript
6,7,Junior Software Engineer,1,меньше 3 месяцев,600,100,Хмельницкий,до 50 человек,Аутсорсинговая,мужской,23,Высшее,False,ниже среднего,12/06/2017 13:04:26,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,1.0,0.0,600,C#/.NET
7,8,Senior Software Engineer,6,1,3300,500,Киев,до 10 человек,Продуктовая,мужской,28,Высшее,False,выше среднего,12/06/2017 13:04:27,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:53....,6.0,1.0,3300,C++
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8692,8693,Software Engineer,5,1,3500,650,Удаленно,до 200 человек,Аутсорсинговая,женский,28,Высшее,False,средний,12/07/2017 13:26:49,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_5...,5.0,1.0,3500,Java
8694,8695,Junior Software Engineer,1,1,550,550,Харьков,до 200 человек,Аутсорсинговая,мужской,23,Высшее,False,ниже среднего,12/07/2017 14:14:33,Mozilla/5.0 (Windows NT 10.0; WOW64; rv:54.0) ...,1.0,1.0,550,C#/.NET
8695,8696,Software Engineer,1,0.5,1500,1000,Киев,до 10 человек,Стартап,мужской,29,Высшее,False,средний,12/07/2017 14:39:21,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,1.0,0.5,1500,Python
8701,8702,Junior Software Engineer,1,0.5,800,500,Львов,до 10 человек,Аутстаффинговая,мужской,30,Незаконченное высшее,False,выше среднего,12/07/2017 17:32:26,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,1.0,0.5,800,Ruby/Rails
8703,8704,Senior Software Engineer,7,2,5000,800,Одесса,до 1000 человек,Продуктовая,мужской,28,Высшее,False,выше среднего,12/07/2017 21:28:57,Mozilla/5.0 (iPad; CPU OS 10_3_2 like Mac OS X...,7.0,2.0,5000,Java

Определите размер таблицы python_data с помощью метода shape

In [15]:
new_table.shape

(4854, 20)

Используя метод groupby выполните группировку по столбцу "Должность"

In [16]:
df.groupby(by="Должность")

Создайте новый DataFrame, где для сгруппированных данных по столбцу "Должность", выполните агрегацию данных с помощью метода agg и найдите минимальное и максимальное значение в столбце "Зарплата.в.месяц"

In [17]:
grouped_position = df.groupby(by="Должность").agg(['max', 'min'])
grouped_position['Зарплата.в.месяц']

C:\Users\Serhii\AppData\Local\Temp\ipykernel_11616\2579889461.py:1: FutureWarning: ['Язык.программирования'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  grouped_position = df.groupby(by="Должность").agg(['max', 'min'])

                                              max   min
Должность
Business analyst                             5000   200
DBA                                          6000   380
Data Scientist / Data Analyst                8000   150
Designer                                     4000   100
DevOps                                      10000   194
Director of Engineering / Program Director  34000  1500
ERP / CRM                                    6000   100
Game designer                                6800   150
HR                                           7000   100
HTML coder                                   3000   154
Junior QA engineer                           2000    96
Junior Software Engineer                     2600    75
Marketing                                    4000   100
Product Manager                              5000   250
Project manager                              8000   190
QA Tech Lead                                 6000   430
QA engineer                                  2900   150
Research Engineer                            4000   114
Sales manager                                2300   120
Scrum Master                                 4500   370
Security Specialist                          4000   300
Senior Project Manager / Program Manager     9100   200
Senior QA engineer                           6000   400
Senior Software Engineer                     9200   350
Software Engineer                            7000   100
Support                                      3650   138
Sysadmin                                     3000    90
System Architect                            10000   400
Talent Researcher                            1700   100
Team lead                                    7000   300
Technical Lead                              18000   500
Technical writer                             3000   200

Создайте функцию fill_avg_salary которая будет возвращать среднее значение заработной платы в месяц. Используйте ее для метода apply и создайте новый столбик "avg"

In [18]:
def fill_avg_salary(salary):
    return np.mean(salary)

grouped_position['avg'] = df.groupby(by="Должность")['Зарплата.в.месяц'].apply(fill_avg_salary)
grouped_position[['Зарплата.в.месяц','avg']]

                                           Зарплата.в.месяц                avg
                                                        max   min
Должность
Business analyst                                       5000   200  1551.500000
DBA                                                    6000   380  1653.269231
Data Scientist / Data Analyst                          8000   150  1544.240506
Designer                                               4000   100  1134.161435
DevOps                                                10000   194  2162.688235
Director of Engineering / Program Director            34000  1500  5066.363636
ERP / CRM                                              6000   100  1370.833333
Game designer                                          6800   150  1455.277778
HR                                                     7000   100   850.283401
HTML coder                                             3000   154   550.993590
Junior QA engineer                                     2000    96   482.774752
Junior Software Engineer                               2600    75   605.658594
Marketing                                              4000   100   861.282609
Product Manager                                        5000   250  2054.471264
Project manager                                        8000   190  1512.846361
QA Tech Lead                                           6000   430  2684.430380
QA engineer                                            2900   150  1176.704607
Research Engineer                                      4000   114  1099.000000
Sales manager                                          2300   120   635.847059
Scrum Master                                           4500   370  2355.684211
Security Specialist                                    4000   300  1783.250000
Senior Project Manager / Program Manager               9100   200  3562.181818
Senior QA engineer                                     6000   400  2385.536122
Senior Software Engineer                               9200   350  3243.200926
Software Engineer                                      7000   100  1678.630074
Support                                                3650   138   817.339130
Sysadmin                                               3000    90   773.542636
System Architect                                      10000   400  4387.076923
Talent Researcher                                      1700   100   550.555556
Team lead                                              7000   300  2836.328947
Technical Lead                                        18000   500  3664.272000
Technical writer                                       3000   200  1127.892857

Создайте описательную статистику с помощью метода describe для нового столбца.

In [19]:
grouped_position['avg'].describe()

count      32.000000
mean     1800.566187
std      1170.804714
min       482.774752
25%       858.532807
50%      1528.543434
75%      2363.147188
max      5066.363636
Name: avg, dtype: float64

Сохраните полученную таблицу в CSV файл

In [20]:
table_for_csv = grouped_position[['Зарплата.в.месяц','avg']]

table_for_csv.to_csv('result.csv', index=True)